<!-- CANCION modal CONFIRMADA -->
<div id="id14" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <img class="w3-round-large " src= ' <%= asset_path 'check.png' %>' style="width:50%">
      <h2><b>CANCION AGREGADA CON EXITO</b></h2>
      <h2>GRACIAS !!</h2>
      <div class="w3-row">
        <div class="w3-one">
          <button onclick="document.getElementById('id13').style.display='none';document.getElementById('id14').style.display='none'" type="button" class="w3-button w3-xlarge w3-round-xlarge w3-block w3-green">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END RSVP modal CONFIRMADA -->
